<h1>New Car</h1>
<%= form_with model: @car do |car| %>
  <%= car.label :year, 'Year: ' %>
  <%= car.text_field :year %>

  <%= car.label :make, 'Make: ' %>
  <%= car.text_field :make %>

  <%= car.label :model, 'Model: ' %>
  <%= car.text_field :model %>

  <template id="new_trim_form">
    <label for="cars_trims_attributes_0_name">Name: </label>
    <input id="cars_trims_attributes_0_name" type="text" name="car[trims_attributes][0][name]">
    <!-- the 0 (which would be the key), does not matter here, use the timestamp for the current date -->

    <label for="cars_trims_attributes_0_body_kit">Body Kit: </label>
    <input id="cars_trims_attributes_0_body_kit" type="text" name="car[trims_attributes][0][body_kit]">

    <label for="cars_trims_attributes_0_forced_induction">Forced Induction: </label>
    <input id="cars_trims_attributes_0_forced_induction" type="text" name="car[trims_attributes][0][forced_induction]">

    <label for="cars_trims_attributes_0_wheels">Wheels: </label>
    <input id="cars_trims_attributes_0_wheels" type="text" name="car[trims_attributes][0][wheels]">

    <label for="cars_trims_attributes_0_transmission">Transmission: </label>
    <input id="cars_trims_attributes_0_transmission" type="text" name="car[trims_attributes][0][transmission]">

    <label for="cars_trims_attributes_0_sound_system">Sound System: </label>
    <input id="cars_trims_attributes_0_sound_system" type="text" name="car[trims_attributes][0][sound_system]">
  </template>

  <button>Add New Trim</button>
  <%= car.submit %>
<% end %>
